*   Name-Yashasavi Jain

*   PRN-25070123127

*   Aim-Study of Set in Python

In [ ]:
thisset={"Apple","Banana","Cherry"} #set is unordered
print(thisset)

{'Cherry', 'Apple', 'Banana'}

In [ ]:
thisset={"Apple","Banana","Cherry","Apple"} #Duplicates are not allowed in Set
print(thisset)

{'Cherry', 'Apple', 'Banana'}

In [ ]:
thisset={"Apple","Banana","Cherry",True,1,2} #It is considering True and 1 same
print(thisset)

{True, 2, 'Apple', 'Banana', 'Cherry'}

In [ ]:
# To check membership
thisset={"Apple","Banana","Cherry"}
print("Banana" in thisset)
print("Grapes" in thisset)

True
False

In [ ]:
# Once a set is created, you cannot replace its items,
# but you can add new items.
thisset={"Apple","Banana","Cherry"}
thisset.add("Orange")
print(thisset)

{'Cherry', 'Orange', 'Apple', 'Banana'}

In [ ]:
# Remove Items
thisset={"Apple","Banana","Cherry"}
thisset.remove("Banana")
print(thisset)

{'Cherry', 'Apple'}

In [ ]:
# Set operations
A = {1,2,3,4}
B = {3,4,5,6}
print("Union:",A|B)
print("Intersection:",A&B)
print("Difference1:",A-B)
print("Difference2:",B-A)
print("Symmetric Difference:",A^B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference1: {1, 2}
Difference2: {5, 6}
Symmetric Difference: {1, 2, 5, 6}

PYTHON FROZEN SET

unlike sets,elements cannot be added or removed from a Frozen set

In [ ]:
x=frozenset({"Apple","Banana","Cherry"})
print(x)
print(type(x))

frozenset({'Cherry', 'Apple', 'Banana'})
<class 'frozenset'>

In [ ]:
# Write a Program using set to store participant names and display only unique participants.
participants=["Alex","Maya","Daniel","Sofia","Liam","Aisha","Noah","Emma"]
unique_participants = set(participants)
print("Unique Participants:",unique_participants)

Unique Participants: {'Maya', 'Emma', 'Sofia', 'Aisha', 'Noah', 'Daniel', 'Alex', 'Liam'}

In [ ]:
# Find the common subjects chosen by all students using set operations.
student1={"AI","ML","Python","Data Science"}
student2={"Python","ML","Cloud Computing"}
student3={"Python","ML","Dawl"}
common_subjects = student1 & student2 & student3
print("Common Subjects:",common_subjects)

Common Subjects: {'Python', 'ML'}

In [ ]:
# One set contains students in the Cricket Club,another in the Football Club.
# Find students who are:1, In both clubs 2, In only one club
# Concept Used: Intersection, Symmetric Difference
Cricket = {"Amit","Rahul","Sneha"}
Football = {"Rahul","Neha","Sneha"}
print("Both Clubs:",Cricket & Football)
print("Only one Club:", Cricket ^ Football)

Both Clubs: {'Rahul', 'Sneha'}
Only one Club: {'Amit', 'Neha'}

In [ ]:
# Absent Students
# Give a Set of all Students and a set of present students, find the absent Students.
# Concept Used: Set Difference (-)
all_students = {"A","B","C","D","E"}
present_students = {"A","C","E"}
absent_students = all_students - present_students
print("Absent Students:",absent_students)

Absent Students: {'D', 'B'}

In [ ]:
# A set contains valid couce codes.
# Remove a discontinued couse code from the set.
# Concept used: remove() / discard()
courses = {"ETC101","ETC102","ETC103"}
courses.discard("ETC102")
print("Upated Courses:",courses)

Upated Courses: {'ETC101', 'ETC103'}